---
layout: default
title: Home
header: Jon Allen
---

<p class="intro" style="margin-bottom: 10em;">This is a website for me to write about various projects, mostly personal and other things that I find interesting and want to write about.</p>

{% assign post-text = "During College, I coded and helped build a self navigating robot for the Engineering Education Scheme (EES), using an Arduino for the processing unit and a ultrasound censor for collision detection" %}
{% assign post-src = "img/home-images/EES-Robot.JPG" %}
{% assign post-link = "" %}
{% include /home-post.html text=post-text src=post-src link=post-link %}

{% assign post-text = "For my A level Computer Science coursework, I made a racing game in Unity on my Windows-bootcamped MacBook. It had multiple vehicles to select and a rally mode. At some point I want to remake this game now I have more computing power than a Macbook but I want to make all of my own assets, I might wait until after university but I'm not sure yet." %}
{% assign post-src = "img/home-images/Turbo-Racing.PNG" %}
{% assign post-link = "" %}
{% include /home-post.html text=post-text src=post-src link=post-link %}