/* GENERAL STYLE FOR LAYOUT AND NAVBAR */

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

html {
  font-family: "Roboto Slab", sans-serif;
  height: 100%;
  height: 100%;
  /*background: linear-gradient(to bottom, #000099 0%, #0099ff 100%);*/
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.main {
  padding-left: 4em;
  padding-top: 4em;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0em 1em;
  overflow: hidden;
  font-size: 1.3em;
}

.navbar a, .dropdown {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin: 1em 0.5em;
  padding: 0em 0em 0.2em 0em;
  text-decoration: none;
}

.navbar a:hover:not(.active), .dropbtn:hover, .icon {
  color: #66a3ff;
  outline: none;
}

.active {
  border-bottom: solid;
  border-bottom-color: #66a3ff;
  color: #66a3ff;
}

.icon {
  height: 1.2em; 
  width: 1.2em;
  z-index: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: inherit;
  padding: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  min-width: 5em;
  max-width: 6em;
  border-radius: 1em;
  box-shadow: 1em 1em 0.8em 1em rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: inherit;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 0.8em;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* STYLING FOR HOME PAGE */

.home-h1 {
  text-align: center;
  font-size: 4em;
}