/*********************/
/* LAYOUT AND NAVBAR */
/*********************/

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

html {
  font-family: "Roboto Slab", sans-serif;
  height: 100%;
  height: 100%;
  /*background: linear-gradient(to bottom, #000099 0%, #0099ff 100%);*/
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

body {
  padding-bottom: 3em;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0em 1em;
  overflow: hidden;
  font-size: 2vw;
}

.navbar a, .dropdown {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin: 1em 0.5em;
  padding: 0em 0em 0.2em 0em;
  text-decoration: none;
}

.navbar a:hover:not(.active), .dropbtn:hover, .icon {
  color: #66a3ff;
  outline: none;
}

.active {
  border-bottom: solid;
  border-bottom-color: #66a3ff;
  color: #66a3ff;
}

.icon {
  height: 1.2em; 
  width: 1.2em;
  z-index: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: inherit;
  padding: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  min-width: 5em;
  max-width: 6em;
  border-radius: 1em;
  /*background-color: #0a2557;*/
  box-shadow: 1em 1em 0.8em 1em rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: inherit;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 0.8em;
  display: block;
  margin: 0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}

h1 {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 0.5em !important;
}

h2 {
  font-size: 2.2em !important;
  text-align: center;
}

.h1-underline-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 1.5em;
  /*border: 2px solid green;*/
}

.h1-underline {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.3em;
  background: linear-gradient(to right, rgba(102, 163, 255,0) 0%, rgba(102, 163, 255,1) 5%, rgba(102, 163, 255,1) 48%, rgba(102, 163, 255,0) 48%, rgba(102, 163, 255,0) 52%, rgba(102, 163, 255,1) 52%, rgba(102, 163, 255,1) 95%, rgba(102, 163, 255,0) 100%);
}

.h1-circle {
  position: relative;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: calc(50% - 0.75em);
  height: 1.1em;
  width: 1.1em;
  border: 0.2em solid #66a3ff;
  border-radius: 50%;
  display: inline-block;
}

table
{
    table-layout: fixed;
    width: 100%;
}

.table-text {
  padding: auto;
}

.link {
  color: white;
  text-decoration-color: #66a3ff;
}

.link:hover {
  color: #66a3ff;
}









/***********************/
/* HOME PAGE AND POSTS */
/***********************/

.intro {
  font-size: 2vw;
  padding-top: 2em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.post-underline-container {
  display: block;
  margin-left: 2.5%;
  margin-right: auto;
  width: 75%;
  height: 1em;
}

.post-underline {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.3em;
  background: linear-gradient(to right, rgba(102, 163, 255,0) 0%, rgba(102, 163, 255,1) 5%, rgba(102, 163, 255,1) 48%, rgba(102, 163, 255,0) 48%, rgba(102, 163, 255,0) 52%, rgba(102, 163, 255,1) 52%, rgba(102, 163, 255,1) 95%, rgba(102, 163, 255,0) 100%);
}

.post-circle {
  position: relative;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: calc(50% - 0.75em);
  height: 1.1em;
  width: 1.1em;
  border: 0.2em solid #66a3ff;
  border-radius: 50%;
  display: inline-block;
}

.content {
  font-size: 1vw;
  padding-top: 2em;
  width: 75%; 
}

.content-table td {
  margin-left: none;
  margin-right: none;
  text-align: center;
}

.footer {
  border-top: 3px solid #66a3ff;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 3em;
  background-image: url("/img/background-footer.jpg");
  background-size: 100% 100%; 
}

.new-post {
  margin-top: 4em;
}

.post-title {
  text-align: center;
  font-size: 1.5vw;
}

.post-link {
  text-align: right;
  margin-top: 4.5em;
}

.post-link a {
  color: #66a3ff;
  padding: 0.5em;
  text-decoration: none;
  background-color: transparent;
  border-radius: 5em;
  border: 0.15em solid #66a3ff;
}

.post-link a:hover {
  color: white;
  background-color: #66a3ff;
}

.post-image {
  max-width: 75%;
  height: auto;
  border-radius: 5em;
  border: 0.15em solid #66a3ff;
}

.post-image-container {
  text-align: center;
  width: 50%;
}

.post-text {
  padding: auto;
}












/**************/
/* ABOUT PAGE */
/**************/

.about-table {
  font-size: 1vw;
  padding-top: 2em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-image {
  max-width: 50%;
  height: auto;
  border-radius: 5em;
  border: 0.15em solid #66a3ff;
}

.about-links-icons {
  width: 6vw;
  height: auto;
}