<div class="navbar">
	<a id="nav-home" href="/index.html">Home</a>
	
	<div style="float:right" class="dropdown">
		<img src="/img/navbar-icon/icon-white.png" onclick="onClick(this.src)" onmouseover="mouseOn(this.src)" onmouseout="mouseOff(this.src)" class="icon dropbtn" id="nav-icon" />
		<div id="myDropdown" class="dropdown-content">
			<a id="nav-contact" href="/contact.html">Contact Me</a>
		    <a href="https://www.linkedin.com/in/jon-allen-b071ba195">LinkedIn</a>
		    <a href="https://github.com/Hamsterdam117">GitHub</a>
		</div>
	</div>

	<a id="nav-about" style="float:right" href="/about.html">About Me</a>
</div>

<script>
/* when page loads update active page in the navbar */
window.onload = activePage;

function activePage() {
	var title = document.getElementsByTagName("title")[0];
	title = title.innerHTML;

	if (title == "Home") {
		document.getElementById("nav-home").classList.add("active");
	} else if (title == "About") {
		document.getElementById("nav-about").classList.add("active");
	} else if (title == "Contact") {
		document.getElementById("nav-contact").style.color = "#66a3ff";
	}
}


/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function onClick(src) {
	document.getElementById("myDropdown").classList.toggle("show");

  	var path = new URL(src);

	if (path.pathname == "/img/navbar-icon/icon-blue.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-cross-blue.png";

	} else if (path.pathname == "/img/navbar-icon/icon-cross-blue.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-blue.png";

	} else if (path.pathname == "/img/navbar-icon/icon-white.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-cross-white.png";

	} else if (path.pathname == "/img/navbar-icon/icon-cross-white.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-white.png";
	}
}

function mouseOn(src) {
	var path = new URL(src);

	if (path.pathname == "/img/navbar-icon/icon-white.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-blue.png";

	} else if (path.pathname == "/img/navbar-icon/icon-cross-white.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-cross-blue.png";
	}
}

function mouseOff(src) {
	var path = new URL(src);

	if (path.pathname == "/img/navbar-icon/icon-blue.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-white.png";

	} else if (path.pathname == "/img/navbar-icon/icon-cross-blue.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-cross-white.png";
	}
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

  	var path = new URL(document.getElementById("nav-icon").src);

  	if (path.pathname == "/img/navbar-icon/icon-cross-white.png") {
		document.getElementById("nav-icon").src = "/img/navbar-icon/icon-white.png";
	}

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>