<div class="new-post">

	<div class ="post-underline-container">
        <div class="post-underline"></div>
    	<div class="post-circle"></div>
    </div>

    <table class="content">
		<tr>
	    	<td class="post-image-container"><img src="{{ include.src }}" alt="EES Robot" class="post-image" /></td>
	    	<td>
	    		<h3 class="post-title">{{ include.heading }}</h3>
	    		<p class="post-text">{{ include.text }}</p>
	    		<p class="post-link"><a href="{{ include.link }}">Read More</a></p>
	    	</td>
	  	</tr>
	</table>

</div>