<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
    {% assign active_page = page.title %}
    {% include header.html active=active_page %}
  </head>

  <body>
      {% if page.title == 'Home' %}
        <h1 style="font-size: 8vw;">{{ page.header }}</h1>
      {% else %}
        <h1>{{ page.header }}</h1>
      {% endif %}

      <div id="h1-underline">
        <div class="line"></div>
        <div class="circle"></div>
      </div>
      {{ content }}
  </body>
<!--  
  <footer>
    <div id="footer">
      <p>&#169; 2020 Jonathan Allen</p> 
    </div>
  </footer>
-->
</html>